# Virtual Environment
venv/
myproject_env/
env/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# MLflow
mlruns/
*.db
*.db.bak
mlflow.db
mlflow_new.db

# Models
*.pkl
*.joblib

# Docker (tidak dipakai)
Dockerfile
docker-compose.yml

# IDE
.vscode/
.idea/
*.swp
*.swo
